
@media screen and (min-width:279px) and (max-width:1000px){


    .content-all{
        width: 292px;
        margin: auto;
        perspective: 600px;
        position: relative;
        transform: translateY(-160px);
       
    }
    .content-carrusel{
        width: 100%;
        position: absolute;
        animation: rotar 10s infinite linear;
        transform-style: preserve-3d;
    }
    .content-carrusel:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
    .content-carrusel figure{
        
        padding-top: 20%;
    width: 50%;
    height: 10%;
    position: absolute;
    
    box-shadow: 0px 0px 0px 0px;
    transition: all 30ms;
    }
     .content-carrusel figure:nth-child(1){transform:rotateY(0deg) translateZ(50px);}
     .content-carrusel figure:nth-child(2){transform:rotateY(120deg) translateZ(50px);}
     .content-carrusel figure:nth-child(3){transform:rotateY(240deg) translateZ(50px);}
     .content-carrusel figure:nth-child(4){transform:rotateY(360deg) translateZ(50px);}
    
    
     .content-carrusel img{
         width: 100%;
         transition: all 300ms;
    }
    .content-carrusel img{
        transform: scale(1.2);
        transition: all 32ms;
    }
    @keyframes rotar{
        from{
            transform: rotateY(0deg);
        }to{
            transform: rotateY(600deg);
        }
    }
    .imgCarrusel{
       
        height: 90px;
    }
    #carrusel2{
        height:25vw;
    }
    
    
}


@media screen and (min-width:1024px){


    .content-all{
        width: 292px;
        margin: auto;
        perspective: 600px;
        position: relative;
        transform: translateY(-460px);
       
    }
    .content-carrusel{
        width: 100%;
        position: absolute;
        animation: rotar 10s infinite linear;
        transform-style: preserve-3d;
    }
    .content-carrusel:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
    .content-carrusel figure{
        
        padding-top: 20%;
    width: 100%;
    height: 10%;
    position: absolute;
    
    box-shadow: 0px 0px 0px 0px;
    transition: all 30ms;
    }
     .content-carrusel figure:nth-child(1){transform:rotateY(0deg) translateZ(100px);}
     .content-carrusel figure:nth-child(2){transform:rotateY(120deg) translateZ(100px);}
     .content-carrusel figure:nth-child(3){transform:rotateY(240deg) translateZ(100px);}
     .content-carrusel figure:nth-child(4){transform:rotateY(360deg) translateZ(100px);}
    
    
     .content-carrusel img{
         width: 100%;
         transition: all 300ms;
    }
    .content-carrusel img{
        transform: scale(1.2);
        transition: all 32ms;
    }
    @keyframes rotar{
        from{
            transform: rotateY(0deg);
        }to{
            transform: rotateY(600deg);
        }
    }
    .imgCarrusel{
       
        height: 200px;
    }
    #carrusel2{
        height:25vw;
    }
    
    
    
}
